.logo {
    width: 200px; /* Réduire la largeur du logo */
    height: auto; /* Maintenir les proportions */
    margin: 20px auto; /* Centrage horizontal et espace autour */
    display: block; /* S'assurer qu'il s'affiche correctement */
    object-fit: contain; 
} 
 /* Assurer un ajustement sans déformation */
.wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }
  .side {
    flex: 0 0 250px;

  }
  
  .dash {
    flex: 1;
  }
  