.ai-assistant {
  color: #307e76  !important;
  font-size: 26px !important;
  text-align: start !important;
  /* margin-left: 30px !important; */
  font-weight: 700;
}

/* .paragraph{
  font-size: 16px !important;
} */

.card-content {
  padding: 10px !important;
}

.wrap {
  border: 1px solid #e5e5e5;
  border-radius: 9px ;
  margin-top: 15px !important;
  /* max-width: 57vw; */
}

